// ==========================================================================
// Component Styles - GitHub Markdown Style
// ==========================================================================

// Keyboard Keys
kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px $font-family-mono;
  line-height: 10px;
  color: $color-text;
  vertical-align: middle;
  background-color: $color-bg-code;
  border: solid 1px $color-border;
  border-bottom-color: darken($color-border, 10%);
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 darken($color-border, 10%);
}

// Highlighted text
mark {
  background-color: #fff8c5;
  padding: 0.1em 0.2em;
  border-radius: 3px;
}

// Task list - GitHub style
.task-list-item {
  list-style-type: none;
  margin-left: -1.5em;
}

// Task list checkboxes - improved styling
input[type='checkbox'] {
  margin: 0 0.5em 0 0;
  vertical-align: middle;
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid $color-border;
  border-radius: 3px;
  background-color: $color-bg;
  cursor: pointer;
  position: relative;

  &:checked {
    background-color: $color-link;
    border-color: $color-link;

    &::after {
      content: '';
      position: absolute;
      left: 5px;
      top: 2px;
      width: 4px;
      height: 8px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }

  &:disabled {
    cursor: default;
    opacity: 0.6;
  }
}

// Strikethrough
del {
  color: $color-text-secondary;
}

// Inserted text
ins {
  background-color: #dafbe1;
  text-decoration: none;
  padding: 0.1em 0.2em;
  border-radius: 3px;
}

// Small text
small {
  font-size: 90%;
}

// Address
address {
  font-style: normal;
  margin-bottom: 16px;
}

// Subscript and superscript
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

// Details/Summary
details {
  margin-bottom: 16px;

  summary {
    cursor: pointer;
    font-weight: $font-weight-semibold;
    padding: 8px 0;

    &:hover {
      color: $color-link;
    }
  }

  &[open] summary {
    margin-bottom: 8px;
  }
}

// Footnotes
.footnotes {
  margin-top: 32px;
  padding-top: 16px;
  border-top: 1px solid $color-border;
  font-size: $font-size-small;
  color: $color-text-secondary;

  hr {
    display: none;
  }

  ol {
    padding-left: 1.5em;
  }
}

// Footnote references
a[href^='#fn'],
a[href^='#fnref'] {
  font-size: 75%;
  vertical-align: super;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// Images
figure {
  margin: 16px 0;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  figcaption {
    margin-top: 8px;
    font-size: $font-size-small;
    color: $color-text-secondary;
  }
}
